<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2> Adicione um empregado:</h2>

    <form action="/" method="POST">

    <label>Nome:</label><br>
        <input type="text" name="nome"><br>
    <label>Sálario:</label><br>
        <input name="sal_bruto" type="number"><br>
    <label>Departamento:</label><br>
        <input type="radio" value="1" id="administrativo" name="departamento">
            <label for="administrativo">Administrativo</label><br>
        <input type="radio" value="2" id="designer" name="departamento">
            <label for="designer">Designer</label><br>
        <input type="radio" value="3" id="contabil" name="departamento">
            <label for="contabil">Contábil</label><br>
        <input type="radio" value="4" id="fabrica" name="departamento">
            <label for="fabrica">Fábrica</label><br>
        <button type="submit_button" name="submit">Enviar</button>
    </form>

    <br>
    <a href="http://localhost:3000/mostrar">mostre todos</a>
    
    
</body>
</html>